In [6]:
import numpy as np
import pandas as pd

In [3]:
!pip install -q opendatasets

In [4]:
import opendatasets as od
od.download('https://www.kaggle.com/datasets/sakshisatre/the-boston-housing-dataset')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: atharva0577
Your Kaggle Key: ········
Downloading the-boston-housing-dataset.zip to .\the-boston-housing-dataset

100%|█████████████████████████████████████████████████████████████████████████████| 12.9k/12.9k [00:00<00:00, 1.96MB/s]

In [7]:
df = pd.read_csv("the-boston-housing-dataset/Boston (1).csv")

In [8]:
df.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [18]:
X, Y = df.drop(['MEDV'], axis=1).values, df['MEDV'].values.reshape(-1, 1)

In [19]:
X.shape, Y.shape

((506, 13), (506, 1))

In [20]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.1)

In [21]:
from LinearRegression import LinearRegression

In [22]:
lr = LinearRegression()

In [25]:
lr.fit(x_train, y_train, 30)

Epoch 0 : [31.41234675]
Epoch 10 : [2.7664426e+36]
Epoch 20 : [2.44244773e+71]

In [27]:
y_pred = lr.predict(x_test)